@import 'variables'

.grifters
  margin-top: -10px

.grifter
  height: auto
  width: 100%
  .image-wrapper
    width: 200px
    height: 200px
    padding: 5px 20px 20px 0
    float: left
    img
      border-radius: 50%
      width: 200px
      height: 200px
      border: 2px solid $violet
  .additional-links
    margin-top: 20px
    line-height: 40px
    a
      text-decoration: none
      i
        margin-right: 5px
    span
      &.skype_id
        color: $violet
        margin-right: 10px

.grifter-info

  .grifter-description
    padding: 0 15px
    margin-left: 200px
    p
      text-align: left
  .grifter-additional
    float: left
    .grifter-image
      width: 200px
      height: 200px
      padding: 5px 20px 20px 0
      img
        border-radius: 50%
        width: 180px
        height: 180px
        border: 2px solid $violet
    .grifter-links
      border-right: 1px solid $half-violet
      text-align: center
      width: 200px
      height: auto
      .link
        margin-left: -25px
        margin-bottom: 10px
        i
          margin-right: 5px
        span, a
          color: $violet
        a
          text-decoration: none